/* 
* @Author: Marte
* @Date:   2016-11-17 17:43:59
* @Last Modified by:   Marte
* @Last Modified time: 2016-11-21 15:30:06
*/
.absutCon{padding-bottom: 50px;}
.breadnav{width:1200px;margin:0 auto;padding:30px 0;}
.aboutMain{width:1200px;margin:0 auto;clear:both;overflow:hidden;}
.aboutMain .navLeft{float:left;width:200px;background:#f5f5f5;text-align: center;padding-bottom: 30px;margin-right: 50px;}
.aboutMain .navLeft .ti{font-size: 16px;line-height: 35px;height:35px;background:#333;color:#fff;border-bottom:none;}
.aboutMain .navLeft li{border-bottom:1px dashed #ccc;cursor: pointer;}
.aboutMain .navLeft li a{font-size: 14px;line-height: 30px;}
.aboutMain .navLeft li:hover{background:#e0e0e0;}
.aboutMain .navLeft .current{background:#e0e0e0;}
.aboutMain .navLeft .current a{color:blue;}
.aboutMain .navLeft li:hover a{color:blue;}
.nconMain{float:right;width:950px;min-height:1000px;}
.nconMain h3{font-size: 18px;text-align: center;line-height:35px;height:35px;border-bottom: 1px solid #ccc;}
.nconMain p{text-indent: 2em;line-height: 24px;padding-top: 10px;font-size: 14px;}
.nconMain .text-center{text-indent: 0em;text-align: center;}
.investcon{padding-bottom: 50px;}
.investMain{min-height:700px;}